html {
    height: 100%;
 }
 body {
    margin: 0;
    max-height: 100%;
    background: linear-gradient(45deg, #1f1f1f, #323335);
    font-family: "Titillium Web", sans-serif;
 }
 body * {
    animation: intro 1s ease-in-out 1s forwards;
    opacity: 0;
    transform: translateY(0);
 }
 @keyframes intro {
    0% {
       opacity: 0;
       transform: translateY(-10px);
    }
    100% {
       opacity: 1;
       transform: translateY(0);
    }
 }
 .entire {
    width: 700px;
    height: 500px;
    position: absolute;
    display: flex;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    background: #eee;
    box-shadow: 0 0px 34px -2px rgb(0, 0, 0);
 }
 .in-entire {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
 }
 .left-cov,
 .right-cov {
    height: 100%;
 }
 .left-cov {
    width: 35%;
    background: #3bd881;
 }
 .right-cov {
    width: 65%;
    background: #fff;
    overflow: auto;
 }
 @media (max-width: 700px) {
    .entire {
       width: auto;
       height: auto;
    }
    .left-cov,
    .right-cov {
       width: 100%;
    }
 }
 .profile {
    margin: 100px auto 50px auto;
    width: 100px;
    padding: 10px;
 }
 .human {
    width: 50px;
    height: 50px;
    margin: 0 auto;
    border: 9px solid #fff;
    border-radius: 50%;
    position: relative;
   
 }
 .basic {
    text-align: center;
    font-size: 26px;
    color: #fff;
     
 }
 .detail {
    padding: 1px;
 }
 .full-detail {
    padding: 20px 30px;
    overflow: auto;
 }
 h3 {
    text-align: center;
    position: relative;
    padding: 1px;
   
 }
 h4 {
    position: relative;
    padding: 1px;
    
 }
 p a {
    text-decoration: none;
    color: #000;
    font-size: 16px;
   
 }
 .ball {
    display: block;
    width: 10px;
    height: 10px;
    background: #fff;
    border-radius: 50%;
    margin: 0 auto;
    opacity: 1;
    animation: jump 1s infinite alternate;
 }
 @keyframes jump {
    0% {
       transform: translatex(-10px);
    }
    50% {
       transform: translatex(10px);
    }
 }
 